.header{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem; 
}
.main{
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
}

.year{
  display: flex;
  justify-content: space-between;
}

.contentCount{
  color: #333;
  opacity: .75;
  font-size: .95rem;
  font-weight: 500;
}

.title{
  font-size: 1.25rem;
  font-weight: 600;
  /* color:#326b4c ; */
}

.container{
  margin-top: .9rem;
}